

table {
    width: 100%;
    margin: 0;
    padding: 0;
   
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    
  }
  

.btn-display {
    transform: scale(0.9);
    
  }

.btn-right{
    float: right;
    margin-right: 20px;
}  

td,th {
    width: 10%;
}