

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  
}


.btn-display {
  transform: scale(0.9);
  
}

.btn-right{
  float: right;
  margin-right: 20px;
}  




table {
  width: 100%;
}



td, th {
  width: 1% ;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-column-select {
  flex: 0 0 5%;
}

.mat-column-id {
  flex: 0 0 5%;
}